@import url("https://fonts.googleapis.com/css2?family=Belanosima:wght@400;700&family=Poppins:wght@400;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
 
    --naranja: #fc7300;
    --verdeOscuro: #1f8a70;
    --azulOscuro: #00425a;
    --negro: #181823;
    --blanco: #eff5f5;
  
    --TPrincipal: 'Poppins', sans-serif;
    --TSecundaria: 'Belanosima', sans-serif;

}

body {
    background-color: var(--blanco);
    font-family: var(--TSecundaria);
    color: var(--azulOscuro);
}

body button {
    background-color: var(--azulOscuro)
}
